@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Ubuntu", ui-sans-serif, system-ui, sans-serif;
}

.piktos-label {
  text-transform: var(--text-case, uppercase);
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
}

